@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:Arial, sans-serif ;
    line-height: 1.6;
    color: #0000;
    background-color: #ffffff;
}


header {
    background: rgb(143, 134, 134);
    color: #00000000;
    padding: 1rem;
    text-align: center;
}


header h1 {
    margin-bottom: 0.5rem;
}


nav ul {
    list-style: none;
}


nav ul li{
    display: inline;
    margin: 0 10px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 1rem;
}


section{
    margin-bottom: 1.5rem;
}


h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* adicione CSS aqui */
h1 {
    color: #149acf;
    font-weight: 200;
    font-style: normal;
}

.cristiano {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer
{
    background-color:rgb(117, 114, 114);
    color:white ;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
iframe
{
text-align: center;
}